//Light Mode

$lightPrimaryColor: #0099CD;
$lightSecondaryColor: #444444;
$lightBackGround: #FFFFFF;
$lightTextColor: rgba(0,0,0,0.87);
$lightSearchBar: #EEF3F7;
$lightTextBlack: #191919;
$lightIconGrey: #8C8C8C;
$lightHeaderText: #666666;


//Dark Mode

$darkSecondaryColor: #f6dede;



$quickmaintColor: #D66D26;
$backgroudColor: #1E222B;
$backgroudHeaderColor: lightgrey;
$secondary-color: #4D4545FF;



$headerHeight: 55px;
$headerBorderHeight: 2px;
$footerHeight: 55px;
$footerBorderHeight: 3px;